# Supabase Configuration
VITE_SUPABASE_URL=https://cdqxnujteyxbygaxlwsq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_kpCQP9FzLYcUhp4aeQCpnw_mj_kxZox

# Backend API
VITE_API_URL=http://localhost:3000/api
